Source: python-boto3
Section: python
Priority: optional
Maintainer: Eric Evans <eevans@debian.org>
Build-Depends:
        debhelper (>= 9),
	dh-python,
        python-all,
        python-setuptools,
        python3-all,
        python3-setuptools,
        python-s3transfer (>= 0.1.0),
        python3-s3transfer (>= 0.1.0)
Standards-Version: 3.9.8
Homepage: https://github.com/boto/boto3
Vcs-Git: git://anonscm.debian.org/users/eevans/python-boto3.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=users/eevans/python-boto3.git;a=summary

Package: python-boto3
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-botocore (>= 1.4.1), python-requests, python-six
Description: Python interface to Amazon's Web Services - Python 2.x
 Boto is the Amazon Web Services interface for Python.  It allows developers
 to write software that makes use of Amazon services like S3 and EC2. Boto
 provides an easy to use, object-oriented API as well as low-level direct
 service access.

Package: python3-boto3
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-botocore (>= 1.4.1), python3-requests, python3-six
Description: Python interface to Amazon's Web Services - Python 3.x
 Boto is the Amazon Web Services interface for Python.  It allows developers
 to write software that makes use of Amazon services like S3 and EC2. Boto
 provides an easy to use, object-oriented API as well as low-level direct
 service access.

